* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}



.logo:hover {
  color: #00909e;
  cursor: pointer;
}

.bg-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.first-name {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 3rem;
  color: #00909e;
  font-weight: bold;
}

.last-name {
  color: #f5f5f5;
  font-size: 3rem;
  font-weight: bold;    
}

.text-animation-container {
  z-index: 1;
  justify-content: center;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.typing-text {
  font-size: 2.5rem;
}

.animated-text {
  color: #00909e;
}



.mobile-menu{
  z-index: 1;
}


@media (max-width: 768px) {

  .first-name {
    font-size: 2rem;
    top: 75%;
    width: 260px;
  }
  .last-name {
    font-size: 2rem;
  }
  .text-animation-container {
    top: 82%;
    width: 94%;
  }
  .typing-text {
    font-size: 20px;
    text-align: center;
  }
  .animated-text {
    font-size: 20px;
  }

}
